/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #eeeeee;
}

body {
  width: 75%;
  margin: 0 auto;
}

/* || typography */

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav {
  height: 50px;
  background-color: #8664ed30;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #7b93cac4;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
  overflow: auto;
}

table {
  border-collapse: collapse;
  text-align: center;
  white-space: pre;
}

td, th {
  border: 1px solid black;
  padding: 10px 20px;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #39c5bb50;
}

footer {
  margin-top: 10px;
}
